/* Fonts  */
@font-face {
    src: url("/assets/fonts/Poppins-Regular.ttf");
    font-family: "Poppins";
}

@font-face {
    src: url("/assets/fonts/Lobster-Regular.ttf");
    font-family: "Lobster";
}

@font-face {
    src: url("/assets/fonts/Pacifico-Regular.ttf");
    font-family: "pacifico";
}

@font-face {
    src: url("/assets/fonts/Sail-Regular.ttf");
    font-family: "sail";
}

@font-face {
    src: url("/assets/fonts/SonsieOne-Regular.ttf");
    font-family: "sonsieone";
}

@font-face {
    src: url("/assets/fonts/CroissantOne-Regular.ttf");
    font-family: "croissantone";
}

@font-face {
    src: url("/assets/fonts/Amita-Regular.ttf");
    font-family: "amita";
}

@font-face {
    src: url("/assets/fonts/Rancho-Regular.ttf");
    font-family: "rancho";
}

@font-face {
    src: url("/assets/fonts/Tangerine-Regular.ttf");
    font-family: "tangerine";
}

@font-face {
    src: url("/assets/fonts/Cookie-Regular.ttf");
    font-family: "cookie";
}

@font-face {
    src: url("/assets/fonts/Redressed-Regular.ttf");
    font-family: "redressed";
}

@font-face {
    src: url("/assets/fonts/Sofia-Regular.ttf");
    font-family: "sofia";
}

$poppins : "Poppins";
$lobster : "Lobster";
$amita : "amita";
$pacifico : "pacifico";
$redressed : "redressed";
$rancho : "rancho";
$cookie : "cookie";
$sofia : "sofia";
$tangerine : "tangerine";
$sail : "sail";
$sonsieone : "sonsieone";
$croissantone : "croissantone";