@media screen and (max-height: 480px) {
  #home {
    header {
      &.sticky {
        height: 1%;
      }

      .menuBtn {
        position: fixed;
        top: 3rem;
        left: 0.18rem;
      }

      .name {
        position: fixed;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-size: 2em;

        & span {
          transform: translateY(-0.7rem);
          display: block;
        }
      }

      .contact {
        display: none;
      }
    }
  }

  #about {
    padding: 4rem 0rem;

    .con {
      width: 92%;
      margin: 4rem auto;

      .row {
        @include flex(column, space-between);

        .about-person {
          font-weight: 600;

          h1 {
            font-size: 2em;
            font-family: $croissantone;
          }

          .name {
            font-size: 2.3em;
            font-family: $amita;

            span {
              color: $professionColor;
              font-family: $pacifico;
              font-weight: 500;
            }
          }

          .profession {
            font-size: 1.2em;
            font-family: $redressed;
          }

          .dynamic-txts {
            height: 90px;
            line-height: 90px;
            overflow: hidden;

            li {
              list-style: none;
              color: $professionColor;
              font-size: 60px;
              font-weight: 500;
              position: relative;
              top: 0;
              animation: slide 12s steps(4) infinite;

              span {
                position: relative;
                margin: 5px 0;
                line-height: 80px;
                font-family: $redressed;

                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  background: #fff;
                  border-left: 2px solid $professionColor;
                  animation: typing 3s steps(10) infinite;
                }
              }
            }
          }

          .resume {
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
            a {
              padding: 0.6rem 1rem;
              font-size: 1em;

              &:hover {
                background: $nameColor;
                color: $white;
                transition: all 0.3s linear;
              }
            }
          }
        }

        img {
          margin-top: 1rem;
          width: 22rem;
        }
      }

      .socials {
        margin-top: 2rem;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        img {
          width: 2.1rem;
          height: 2.1rem;
          cursor: pointer;

          &:last-child {
            border-radius: 50%;
          }
        }
      }
    }
  }

  #skill {
    padding: 1.6rem 0rem;

    .rel {
      position: relative;
      width: 90%;
      height: 30rem;
      margin: 0rem auto;
      transform: translateY(-2.6rem);

      .con1 {
        position: absolute;
        width: 17.6rem;
        height: 17.6rem;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        img {
          width: 100%;
        }
      }

      .con2 {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100%;
        background: $homeBg;
        @include flex(column, center);
        align-items: flex-start;

        .heading,
        .desc {
          margin-left: 9rem;
          padding: 0rem 0.8rem;
        }

        .heading {
          font-size: 2.2em;
          font-family: $sofia;
        }

        .desc {
          font-size: 1.66em;
          font-family: $rancho;
        }
      }
    }
  }
}
